
# Python CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-python/ for more details
#
version: 2
jobs:
  build:
    docker:
      - image: circleci/python:2.7.15
      - image: redislabs/redisearch:latest

    working_directory: ~/repo

    steps:
      - checkout

      - restore_cache: # Download and cache dependencies
          keys:
          - v1-dependencies-{{ checksum "requirements.txt" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run:
          name: install dependencies
          command: |
            virtualenv venv
            . venv/bin/activate
            pip install -r requirements.txt
            pip install codecov
            
      - save_cache:
          paths:
            - ./venv
          key: v1-dependencies-{{ checksum "requirements.txt" }}

      - run:
          name: test dist
          command: python setup.py sdist

      - run:
          name: run tests
          command: |
            . venv/bin/activate
            REDIS_PORT=6379 coverage run test/test.py
            REDIS_PORT=6379 coverage run -a test/test_builder.py
            codecov
            
      - store_artifacts:
          path: test-reports
          destination: test-reports

  build_nightly:
    docker:
      - image: circleci/python:2.7.15
      - image: redislabs/redisearch:edge

    working_directory: ~/repo

    steps:
      - checkout

      - restore_cache: # Download and cache dependencies
          keys:
          - v1-dependencies-{{ checksum "requirements.txt" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run:
          name: install dependencies
          command: |
            virtualenv venv
            . venv/bin/activate
            pip install -r requirements.txt
            
      - save_cache:
          paths:
            - ./venv
          key: v1-dependencies-{{ checksum "requirements.txt" }}

      - run:
          name: run tests
          command: |
            . venv/bin/activate
            REDIS_PORT=6379 python test/test.py

      - run:
          name: run query builder tests
          command: |
            . venv/bin/activate
            REDIS_PORT=6379 python test/test_builder.py

      # no need for store_artifacts on nightly builds 

workflows:
  version: 2
  commit:
    jobs:
      - build
  nightly:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - build_nightly
